<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DDBank</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
   
  </head>
  <body>

    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="/bankapp/">DhanDenaBank</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/bankapp/">Home</a>
              </li>
              <li class="nav-item ">
                <a class="nav-link" href="/bankapp/mysignup">SignUp</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/bankapp/mylogin">Login</a>
              </li>
              
            </ul>
          </div>
        </div>
      </nav>

      {% block body %}
      
      {% endblock body %}
      <footer>
        <div class="container">
          <div class="row">
            <div class="col-xl-3 col-lg-4 col-md-6">
              <div>
                <h3>DDB.</h3>
                <p class="mb-30 footer-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad soluta facilis
                  eos quia optio iusto odit atque eum tempore, quisquam officiis vero veniam hic,</p>
              </div>
            </div>
            <div class="col-xl-2 offset-xl-1 col-lg-2 col-md-6">
              <div class="">
                <h4>Quick Link</h4>
                <ul class="list-unstyled">
                  <li>
                    <a href="#" class="text-decoration-none">Home</a>
                  </li>
                  <li>
                    <a href="#" class="text-decoration-none">About Us</a>
                  </li>
                  <li>
                    <a href="#" class="text-decoration-none">Service</a>
                  </li>
                  <li>
                    <a href="#" class="text-decoration-none">Contact</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6">
              <div>
                <h4>Service</h4>
                <ul class="list-unstyled">
                  <li>
                    <a href="#" class="text-decoration-none">Home Loan</a>
                  </li>
                  <li>
                    <a href="#" class="text-decoration-none">Car Loan</a>
                  </li>
                  <li>
                    <a href="#" class="text-decoration-none">Education Loan</a>
                  </li>
                  <li>
                    <a href="#" class="text-decoration-none">Security</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6">
              <div>
                <h4>Address</h4>
                <ul class="list-unstyled">
                  <li>
                    <p>+91 9764675423</p>
                  </li>
                  <li>
                    <p>dhanDenaBank@gmail.com
                    </p>
                  </li>
                  <li>
                    <p> Pune, Maharastra, India</p>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="d-flex justify-content-center">
      
            <div class="copyright">
              <p>Developed and maintained by <b>DhanDenaBank Team</b></p>
            </div>
          </div>
        </div>
      </footer>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>

  </body>
</html>