{% extends 'base.html' %}
{% block body %}


{% load static %}


    <link rel="stylesheet" href="{% static 'style1.css' %}">
 
 
{% if messages %}
{% for message in messages %}
    {% if message.tags == 'success' %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      <strong>Your Customer ID :</strong> {{ message|safe|escape }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% elif message.tags == 'error' %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
          {{ message|safe|escape }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"> </button> 
          
        </div>
    {% elif message.tags == 'info' %}
        <div class="alert alert-info alert-dismissible" role="alert">
          {{ message|safe|escape }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"> </button>
           
        </div>
    {% elif message.tags == 'warning' %}
        <div class="alert alert-warning alert-dismissible" role="alert">
          {{ message|safe|escape }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button> 
        </div>
    {% endif %}
{% endfor %}
{% endif %}
      <section class="vh-100">
        <div class="container-fluid h-custom">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-9 col-lg-6 col-xl-5">
              <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
                class="img-fluid" alt="Sample image">
            </div>
            <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
              <form method="POST">
                 {% csrf_token %}
                <!-- customerID input -->
                <div class="form-outline mb-4">
                  <!-- <input type="text" id="cust_id" name= 'cust_id' class="form-control form-control-lg"
                    placeholder="Enter Customer Id" /> -->
                    
                  <label class="form-label" for="cust_id">Customer Id</label>
                  <br>{{form.cust_id}}
                </div>
      
                <!-- Password input -->
                <div class="form-outline mb-3">
                  <label class="form-label" for="password">Password</label>
                  <br>
                  {{form.password}}
                </div>
                <div class="text-center text-lg-start mt-4 pt-2">
                  <button type="submit" class="btn btn-primary btn-lg"
                    style="padding-left: 2.5rem; padding-right: 2.5rem;">Login</button>

                  <p class="small fw-bold mt-2 pt-1 mb-0">Don't have an account? <a href="/bankapp/mysignup"
                      class="link-danger">Register</a></p>
                </div>
      
              </form>
            </div>
          </div>
        </div>
      </section>

    

      {% endblock body %}
