{% extends 'base2.html' %}
{% block body %}
{% load static %}

<!-- Team Container -->
<div class="w3-container w3-padding-64 w3-center" id="team">
    <h2>OUR TEAM</h2>
    <p>Meet the team</p>
    
    <div class="w3-row"><br>
      <div class="w3-quarter">
        <img src="{% static 'lakshmi2.jpg' %}" alt="Boss" style="width:45%" class="w3-circle w3-hover-opacity">
        <h3>Lakshmi</h3>
        <p>CEO</p>
      </div>
  
    <div class="w3-quarter">
      <img src="{% static 'hero-carousel-3.jpg' %}" alt="Boss" style="width:45%" class="w3-circle w3-hover-opacity">
      <h3>Archisman Bhattacharya</h3>
      <p>Full Stack Devloper</p>
    </div>
    
    <div class="w3-quarter">
      <img src="{% static 'hero-carousel-4.jpg' %}" alt="Boss" style="width:45%" class="w3-circle w3-hover-opacity">
      <h3>Prakash Yadava</h3>
      <p>Full Stack Devloper</p>
    </div>
    
    <div class="w3-quarter">
      <img src="{% static 'hero-carousel-5.jpg' %}" alt="Boss" style="width:45%" class="w3-circle w3-hover-opacity">
      <h3>Sparsh Agarwal</h3>
      <p>Full Stack Devloper</p>
    </div>
    
    
    </div>
    </div>
    
    <!-- Work Row -->
    <div class="w3-row-padding w3-padding-64 w3-theme-l1" id="work">
    
    <div class="w3-quarter">
    <h2>Our Branch</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
    
    <div class="w3-quarter">
    <div class="w3-card w3-white">
      <img src="{% static 'bareily2.jpg' %}" alt="Snow" style="width:100%">
      <div class="w3-container">
      <h3>Bareily</h3>
      <!-- <h4>Bareily</h4> -->
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      </div>
      </div>
    </div>
    
    <div class="w3-quarter">
    <div class="w3-card w3-white">
      <img src="{% static 'gorakhpur.jpg' %}" alt="Lights" style="width:100%">
      <div class="w3-container">
      <h3>Gorakhpur</h3>
      <!-- <h4>Gorakhpur</h4> -->
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      </div>
      </div>
    </div>
    
    <div class="w3-quarter">
    <div class="w3-card w3-white">
      <img src="{% static 'kolkata.jpg' %}" alt="Mountains" style="width:100%">
      <div class="w3-container">
      <h3>Kolkata</h3>
      <!-- <h4>Kolkata</h4> -->
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      </div>
      </div>
    </div>
    
    </div>
    
    <!-- Container -->
    <div class="w3-container" style="position:relative">
      <a onclick="w3_open()" class="w3-button w3-xlarge w3-circle w3-teal"
      style="position:absolute;top:-28px;right:24px">+</a>
    </div>
    
    <!-- Pricing Row -->
    <div class="w3-row-padding w3-center w3-padding-64" id="pricing">
        <h2>Loan</h2>
        <p>Choose a loan plan that fits your needs.</p><br>
        <div class="w3-third w3-margin-bottom">
          <ul class="w3-ul w3-border w3-hover-shadow">
            <li class="w3-theme">
              <p class="w3-xlarge">Home Loan</p>
            </li>
            <li class="w3-padding-16"><b>1</b> Crore</li>
            <li class="w3-padding-16"><b>10</b> Years</li>
            <li class="w3-padding-16"><b>24 X 7</b> Support</li>
            <li class="w3-padding-16">
              <h2 class="w3-wide"><i class="fa fa-usd"></i> @ 8%</h2>
              <span class="w3-opacity">per month</span>
            </li>
            <li class="w3-theme-l5 w3-padding-24">
              <button class="w3-button w3-teal w3-padding-large"><i class="fa fa-check"></i>Get Loan</button>
            </li>
          </ul>
        </div>
    
        <div class="w3-third w3-margin-bottom">
          <ul class="w3-ul w3-border w3-hover-shadow">
            <li class="w3-theme-l2">
              <p class="w3-xlarge">Car Loan</p>
            </li>
            <li class="w3-padding-16"><b>25</b> Lacs</li>
            <li class="w3-padding-16"><b>5</b> Years</li>
            <li class="w3-padding-16"><b>24 X 7</b> Support</li>
            <li class="w3-padding-16">
              <h2 class="w3-wide"><i class="fa fa-usd"></i> @ 8%</h2>
              <span class="w3-opacity">per month</span>
            </li>
            <li class="w3-theme-l5 w3-padding-24">
              <button class="w3-button w3-teal w3-padding-large"><i class="fa fa-check"></i> Get Loan</button>
            </li>
          </ul>
        </div>
    
        <div class="w3-third w3-margin-bottom">
          <ul class="w3-ul w3-border w3-hover-shadow">
            <li class="w3-theme">
              <p class="w3-xlarge">Education Loan</p>
            </li>
            <li class="w3-padding-16"><b>10</b> Lacs</li>
            <li class="w3-padding-16"><b>4</b> Years</li>
            <li class="w3-padding-16"><b>24 X 7</b> Support</li>
            <li class="w3-padding-16">
              <h2 class="w3-wide"><i class="fa fa-usd"></i> @ 5%</h2>
              <span class="w3-opacity">per month</span>
            </li>
            <li class="w3-theme-l5 w3-padding-24">
              <button class="w3-button w3-teal w3-padding-large"><i class="fa fa-check"></i> Get Loan</button>
            </li>
          </ul>
        </div>
    </div>
    
  
    
{% endblock body %}